# import libaries needed

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Question 1

In [129]:
a = [1,2,3,4,5,6]
b = [13, 21, 34]

In [130]:
a.extend(b)

In [131]:
a.append(b)

In [132]:
iden = np.identity(3)

In [133]:
iden

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question 2

In [134]:
fuel = pd.read_csv('fuel.csv')
fuel.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [135]:
fuel['fuel_type_code_pudl'].value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [136]:
fuel.groupby('fuel_type_code_pudl').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

# Question 3

In [30]:
fuel.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

# Question 4

In [31]:
import scipy
scipy.stats.kurtosis(fuel['fuel_qty_burned'],bias=False)

651.3694501337731

In [33]:
scipy.stats.skew(fuel['fuel_qty_burned'], bias=False)

15.8514954691095

# Question 5

In [137]:
fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [138]:
s = fuel['fuel_unit'].isnull().sum()

In [139]:
len(fuel['fuel_unit'])

29523

In [140]:
perc = (s/total) * 100

In [141]:
perc #0.610

0.609694136774718

# Question 6

In [145]:
asd = fuel.groupby('report_year')

In [146]:
asd_mean = asd['fuel_cost_per_unit_delivered'].mean()
asd_mean

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [150]:
asd_mean.max()

11140.19723948813

# Question 7

In [142]:
fuel['fuel_unit'] #dtype is object so categorical

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [154]:
fuel['fuel_unit'].value_counts() #The mode willbe used

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

# Question 8

In [156]:
fuel.corr()['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9

In [121]:
fuel['fuel_type_code_pudl']

0        coal
1        coal
2        coal
3        coal
4         gas
         ...
29518     gas
29519     gas
29520     gas
29521    coal
29522     gas
Name: fuel_type_code_pudl, Length: 29523, dtype: object

In [122]:
fuel['fuel_type_code_pudl'].value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [159]:
coal = fuel['fuel_type_code_pudl'] == 'coal'

In [160]:
coal_df = fuel[coal]

In [161]:
coal_1998 = coal_df['report_year'] == 1998

In [163]:
a1998 = coal_df[coal_1998]

In [164]:
coal_1994 = coal_df['report_year'] == 1994

In [165]:
a1994 = coal_df[coal_1994]

In [170]:
c = a1998['fuel_cost_per_unit_burned'].sum()

In [171]:
d = a1994['fuel_cost_per_unit_burned'].sum()

In [177]:
((c/d) -1) * 100

-20.567654518260525

In [98]:
fuel['fuel_cost_per_unit_delivered'].max()

7964521.0

# Question 10

In [178]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])