# Import libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# Import datasets

In [2]:
dff = pd.read_excel('energydata_complete.xlsx')

In [3]:
dff.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
dff1 = dff.drop(['Appliances', 'lights'], axis = 1)

# Question 12

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

n_dff1 = pd.DataFrame(scaler.fit_transform(dff1), columns=dff1.columns)

In [6]:
x = np.array(dff1['T2']).reshape(-1, 1)
y = np.array(dff1['T6']).reshape(-1, 1)

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

In [9]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

# Question 13

In [10]:
dff1.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [11]:
x = np.array(dff1.drop(['T6'], axis = 1))
y = np.array(dff1['T6'])

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [13]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

In [14]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.79

# Question 14

In [15]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

6403.49

# Question 15

In [16]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

1.04

# Question 16

In [17]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.97

# Qestion 17

In [18]:
linear_model.coef_

array([-7.51741329e-01, -3.03375060e-02,  8.14506855e-01,  9.93705810e-02,
        8.62566287e-02, -1.16241001e-01, -7.57510429e-02,  5.73027442e-02,
       -2.43286689e-01, -1.00272455e-03, -3.26251237e-02, -1.22590616e-01,
        7.84832056e-03, -1.23362749e-01, -5.90641071e-02,  2.74399586e-01,
        1.50329176e-02,  1.11408776e+00, -1.76326080e-02,  6.61314665e-02,
       -1.38448798e-03, -1.35811861e-04, -1.44744416e-01,  4.99176467e+11,
       -4.99176467e+11])

In [19]:
coefficients = pd.concat([pd.DataFrame(dff1.columns),pd.DataFrame(linear_model.coef_)], axis = 1)
coefficients

              0             0
0            T1 -7.517413e-01
1          RH_1 -3.033751e-02
2            T2  8.145069e-01
3          RH_2  9.937058e-02
4            T3  8.625663e-02
5          RH_3 -1.162410e-01
6            T4 -7.575104e-02
7          RH_4  5.730274e-02
8            T5 -2.432867e-01
9          RH_5 -1.002725e-03
10           T6 -3.262512e-02
11         RH_6 -1.225906e-01
12           T7  7.848321e-03
13         RH_7 -1.233627e-01
14           T8 -5.906411e-02
15         RH_8  2.743996e-01
16           T9  1.503292e-02
17         RH_9  1.114088e+00
18        T_out -1.763261e-02
19  Press_mm_hg  6.613147e-02
20       RH_out -1.384488e-03
21    Windspeed -1.358119e-04
22   Visibility -1.447444e-01
23    Tdewpoint  4.991765e+11
24          rv1 -4.991765e+11
25          rv2           NaN

In [20]:
(linear_model.coef_).min()

-499176466959.831

In [21]:
(linear_model.coef_).max()

499176466959.8301

# Question 18

In [23]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [24]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

1.04

# Question 19

In [25]:
from sklearn import linear_model
linear_model = linear_model.Lasso(alpha=0.001)
linear_model.fit(x_train, y_train)
print(linear_model.coef_)

[-7.43944755e-01 -2.65680643e-02  8.03162192e-01  9.38922870e-02
  8.49246162e-02 -1.15256957e-01 -7.42511910e-02  5.68874455e-02
 -2.38435050e-01 -1.12449044e-03 -3.25925531e-02 -1.18470391e-01
  7.11178087e-03 -1.24154205e-01 -5.86252359e-02  2.67858238e-01
  1.55530540e-02  1.10427906e+00 -1.77556333e-02  6.40427561e-02
 -1.82940004e-03 -1.52785843e-04 -1.32563510e-01 -1.95605219e-04
 -4.18697996e-19]

# Question 20

In [28]:
predicted_values = linear_model.predict(x_test)

In [29]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

1.04